absl-py==2.1.0
amqp==5.3.1
astor==0.8.1
billiard==4.2.1
celery==5.4.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
gast==0.6.0
grpcio==1.70.0
h5py==3.12.1
joblib==1.4.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kombu==5.4.2
Markdown==3.7
MarkupSafe==3.0.2
numpy==2.2.2
pandas==2.2.3
prompt_toolkit==3.0.50
protobuf==5.29.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
scikit-learn==1.6.1
scipy==1.15.1
six==1.17.0
tensorboard==1.12.2
tensorflow @ https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.12.0-py3-none-any.whl#sha256=f587dc03b5f0d1e50cca39b7159c9f21ffdec96273dbf5f7619d48c622cb21f2
termcolor==2.5.0
threadpoolctl==3.5.0
tzdata==2025.1
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.1.3
wheel==0.45.1
